.App {
  text-align: center;
  background-color: rgb(240, 240, 240);
}

.booksList {
  margin-top: 20px;
  margin-left: 15px;
}

.book-info {
  margin-top: 20px;
}

.form {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: inline-block;
}

.ui.button {
  color: azure;
  background-color: teal;
}

.nav-header {
  background: #006C35;
  margin-top: 20px;
  position: sticky;
  z-index:1;
  top: 0;
}

html {
  scroll-behavior: smooth;
}

/* .card {
  transform: scale(1, 1)
} */

.arabic {
  font-size: 10px;
}

.title {
  font-size: 10px;
}

.metaText {
  font-size: 3px;
}


.row {
  padding: 10px;
  clear: both;
  width: 250px;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  position: relative;
}

.column-left {
  float: left;
  width: 120px;
}

.column {
  float: right;
  margin-left: 5px;
  width: 100px;
}

.img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: 10px;
}

.button {
  bottom: 10px;
  right: 10px;
  position: absolute;
}

span > p {
  display: inline-block;
  vertical-align: top;
}

.meta {
  color: rgb(153, 153, 153);
}

.title {
  font-weight: bold;
}

.section-header {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  left: 50px;
}

.see-all {
  float: right;
  margin-right: 50px;
  width: auto;
  background-color: rgb(255, 255, 255);
  padding: 0 6px 0 6px;
  color: rgb(0, 65, 185);
  font-size: 12px;
  font-weight: bold;
}

.zoom {
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

@media (max-width: 500px) {
  /* .nav-header {   
    flex-direction: column;
  } */

  .zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}


.section-header {
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  left: 50px;
}

.form {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: inline-block;
}

#logo {
  display: none;
}

.search {
  width: 120px;
}

}